<!DOCTYPE html>
 {% load static %} 

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="{% static '/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Svelte + Vite App</title>
   <script type="module" crossorigin src="{% static 'assets/main.js' %}"></script>
 <script type="module" href="{% static 'assets/vendor.js' %}"></script>
 <link rel="ico" href="{% static 'assets/favicon.ico' %}">
 <link rel="stylesheet" href="{% static 'assets/main.css' %}">
</head>
  <body>
    <div id="app"></div>
  </body>
</html>
